.footer {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--lightgray);
  /* padding-top: 3rem; */
  min-height: 25rem;
  position: relative;
}
.footer > div:first-child {
  display: flex;
  gap: 3rem;
}
.footer > div:first-child img {
  width: 2.2rem;
  height: 2rem;
}
.footer > div:last-child img {
  width: 10.5rem;
}
.footer-blur {
  width: 60%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
